html {
    font-size: 62.5%;
    color: #222;
}
body {
    font-size: 1.4rem;
    line-height: 1.5;
    background-color: #f7f7f7;
}

a {
    color: #666;
    text-decoration: none;
}

a:hover, a:active {
    color: green;
    text-decoration: none;
}
ul {
	margin: 0;
	padding: 0;
}
li {
	list-style: none;
}
/* ===============
	工具样式
	============= */
.clearfix::after {
	content: '';
	display: block;
	clear: both;
}

.center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.pull-left {
	float: left !important;
}

.pull-right {
	float: right !important;
}

.hide {
	display: none !important;
}

.show {
	display: block !important;
}

/*头部样式*/
header {
	width: 100%;
}
header .main {
	display: flex;
	padding: 1rem;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
	padding-top: 0;
	font-size: 1.4rem;
	font-weight: bold;
}
header .main ul {
	display: inline-block;
}
header .main li {
	display: inline-block;
}
header .main .main-menu li a  {
	padding: 0 1.5rem;
}
header .main .main-menu li a:hover {
	color: blue;
}
header .main .main-menu li a:hover + i {
	display: unset;
}
header .main .main-menu {
	line-height: 9rem;
}
header .main .main-menu li {
	position: relative;
}
header .main .main-menu li i{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 2px;
	background-color: blue;
	display: none;
}
header .right-menu .menu-list ul {
	position: absolute;
	top: 0;
	right: 1rem;
}
header .right-menu .menu-list ul li + li {
	border-left: 1px solid #ccc;
}
header .right-menu .menu-list ul li a {
	display: inline-block;
	padding: 0 1rem;
	color: gray;
}
header .right-menu .menu-list ul li:nth-child(5) {
	padding: 0;
	border: none;
}
header .right-menu .menu-list ul li a:hover {
	color: green;
}
header .main .search {
	position: relative;
	float: right;
	width: 200px;
	height: 30px;
	padding: 0 5px;
	border-bottom: 1px solid #ccc;
}
header .right-menu .search input:first-child{
	width: 100%;
	line-height: 27px;
	border: none;
	outline: none;
}
header .right-menu .search-icon {
	position: absolute;
	right: 5px;
	top: 2px;
	width: 24px;
	height: 24px;
	border: none;
	background: url(./images/search.png) no-repeat;
	background-size: 100% 100%;
}
header .small-bars {
	display: none;
}

@media only screen and (max-width: 1040px) {
	header .main {
		padding: 0;
	}
	header .main p {
		margin: 0;
	}
	header .main .main-menu,
	header .right-menu {
		display: none;
	}
	header .small-bars {
		display: inline-block;
		float: right;
		/*margin-right*/
	}
}

/*中间导航栏*/
.middle-nav {
	width: 90%;
	margin: 2rem auto;
	padding: 3rem 0;
	text-align: center;
}
.middle-nav ul {
	display: inline-block;
}
.middle-nav ul li {
	display: inline-block;
	width: 18%;
}
.middle-nav ul li + li {
	border-left: 1px solid #ccc;
}
.middle-nav ul li a {
	display: inline-block;
	padding: 0 2rem;
}
.middle-nav ul li a img {
	width: 90%;
}
.middle-nav ul li a:hover img:first-child {
	display: none;
}
.middle-nav ul li a:hover img:last-child {
	display: block !important;
	/*悬停放大效果*/
	transform: scale(1.1);  
    transition: all 1s ease 0s;  
    -webkit-transform: scale(1.1);  
    -webkit-transform: all 1s ease 0s; 
}
.middle-nav ul li .img-active {
	display: none;
}
@media only screen and (max-width: 1040px) {
	.middle-nav {
		margin: 0 auto;
		padding: 1rem 0;
	}
}

/*内容部分*/
.content {
	width: 100%;
	display: flex;
	justify-content: space-around;
}
.content .left-brand {
	width: 43%;
}
.content .content-info {
	width: 50%;
}
.content .content-info .content-item {
	position: relative;
	padding: 3rem 2rem;
	border-bottom: 1px solid #ccc;
}

.content .content-info .content-item img{
	/*position: absolute;
	top: 25%;
	left: 2rem;*/
	float: left;
	height: 6rem;
	width: auto;
}
.content .content-info .content-item .content-title {
	display: inline-block;
	float: left;
	padding-left: 2rem;
}
.content .content-info .content-item .detail-link {
	float: right;
}
@media only screen and (max-width: 1040px) {
	.content {
		display: block;
	}
	.content .left-brand,
	.content .content-info {
		width: 100% !important;
	}
}


/*底部广告*/
.footer-ad img {
	width: 100%;
	margin: 3rem 0;
}

/*底部导航*/
.footer {
	width: 100%;
}
.footer .footer-content {
	width: 80%;
	margin: 1rem auto;
}
.footer .footer-content div{
	display: inline-block;
	float: left;
}
.footer .footer-content ul {
	display: inline-block;
	margin: 0 3rem;
}
.footer .footer-content ul li:first-child {
	font-size: 1.4rem;
	font-weight: bold;
}
.footer .footer-content ul li a:hover {
	color: blue;
}
@media only screen and (max-width: 1040px) {
	.footer {
		display: none;
	}
	.footer-ad img {
		margin: 0;
	}
}

/*底部注册信息*/
footer {
	margin-top: 5rem;
	background: #ddd;
	font-size: 1.2rem;
	color: #565656;
	text-align: center;
}
footer ul {
	display: inline-block;
}
footer ul li {
	float: left;
	padding: 0 2rem;
}
footer ul li + li {
	border-left: 1px solid #ccc;
}
@media only screen and (max-width: 1040px) {
	footer {
		margin: 0;
	}
}
